<div class="container-fluid">
    <!-- Title -->
    <div class="row">
        <div class="col-md-1 nopadding"></div>
        <div class="col-md-10 text-center nopadding">
            <h1>{{title}}</h1>
            <h2>Universe ID: #{{universe.id}}</h2>
        </div>
        <div class="col-md-1 nopadding"></div>
    </div>

    <!-- Navigation -->
    <div class="row">
        <div class="col-md-1 nopadding"></div>
        <div class="col-md-7 nopadding">
            <tabs>
                <tab tab-title="Ship">
                    <ship>Loading Ship...</ship>
                </tab>
                <tab tab-title="Inventory">Inventory...</tab>
                <tab tab-title="Local">Local...</tab>
                <tab tab-title="Crafting">Crafting...</tab>
                <tab tab-title="Settings">
                    <settings>Loading Settings...</settings>
                </tab>
            </tabs>
        </div>
        <div class="col-md-3 nopadding">
            <tabs>
                <tab tab-title="Log">
                    <log>Loading the logger...</log>
                </tab>
                <tab tab-title="Scanner">Scanner...</tab>
            </tabs>
        </div>
        <div class="col-md-1 nopadding"></div>
    </div>
</div>



